.dice-container{
    width: 13vw;
    height: 7vw;
    margin: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    border-radius: 16px;
    transition: 0.5s border;
    background-color: antiquewhite;
}

.dice-container:hover{
    cursor: pointer;
    border-color: gold;
}

.dice-container:active{
    background-color: gold;
}

.dice{
    width: 5vw;
    height: 5vw;
    background-image: url(../../assets/dice-sprite.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.num-of-dice-1{
    background-position-x: 0%;
}
.num-of-dice-2{
    background-position-x: 20%;
}
.num-of-dice-3{
    background-position-x: 40%;
}
.num-of-dice-4{
    background-position-x: 60%;
}
.num-of-dice-5{
    background-position-x: 80%;
}
.num-of-dice-6{
    background-position-x: 100%;
}