.game-options-container {
    display: flex;
}

.game-options-btn,
.hold-btn {
    margin: 1vh;
    width: 8vw;
    font-size: 1.5vw;
    background-color: gray;
    color: antiquewhite;
    border-radius: 8px;
    transition-property: background-color;
    transition: 0.5s;
}

.game-options-btn:hover,
.hold-btn:hover {
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}


.hold-btn {
    border-radius: 50%;
    background-color: gold;
    color: black;
}

@media (max-width: 420px) {
    .game-options-btn,
    .hold-btn {
        width: 16vw;
        font-size: 2vw;
    }
}